<!DOCTYPE html>
<html>
  <head>
    <title>Surf Shop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Surf Shop</h1>
    <p>Welcome to Surf Shop</p>
  </body>
</html>
